In [ ]:
import pandas as pd
import numpy as np


my_File = pd.read_csv("2019 - Copy.csv")
dt = pd.DataFrame(my_File)

In [ ]:
# Using the replace function to replace string content

results = [item for item in dt['Country or region'].str.replace('is very cold#','')]

print(results)

In [ ]:
# Using the split function

results = [item for item in dt['Country or region'].str.split()[0]]
print(results[0])

In [ ]:
# Get Index

results = dt.index
print(results)

In [ ]:
# Get Columns

results = dt.columns
print(results)

In [ ]:
# Get Data Types

results = dt.dtypes
print(results)

In [ ]:
# Get Info

results = dt.info
print(results)

In [ ]:
# Get row values

results = dt['Score'].values
print(results)

In [ ]:
# Get first nth rows

results = dt.head(5)
print(results)

In [ ]:
# Get last nth rows

results = dt.tail(5)
print(results)

In [ ]:
# Get index at specific row/column

results = dt.at[3,'Score']
print(results)

In [ ]:
# Access a group of rows and columns by label(s) or a boolean array
# START point is INCLUDED, END point is EXCLUDED

results = dt.iloc[:, 0:3]
print(results)

In [ ]:
# Iterate over (column name, Series) pairs.

for label, content in dt.items():
    print(f'label: {label}')
    print(f'content: {content}', sep='\n')

In [ ]:
# Insert column into DataFrame at specified location

# results = dt.insert(0,'One',[1,2,3,4,5,6,7,8,9,0])
# print(results)

In [ ]:
# Return item and drop from frame. Raise KeyError if not found.

results = dt.pop('Score')
print(results)

In [ ]:
# Whether each element in the DataFrame is contained in values.

results = dt.isin(['New Zealand'])
print(results)

In [ ]:
# Replace values where the condition is False.
filtering = dt['GDP per capita'] < 1
other = 5
inplace = 'true'
results = dt.where(filtering,other=other)
print(results)

In [ ]:
# Query the columns of a DataFrame with a boolean expression.
filtering = 'Country or region == "Sweden"'
results = dt.query('Score == 4')
print(results)

In [20]:
# Apply a function along an axis of the DataFrame and update the results.
# results = dt.apply(lambda x: x.replace('Finland is very cold#','Cameroon'))
def edit(x):
    if '#' in x:
        return x.replace('#','')
    else:
        return x
results = dt['Country or region'].apply(edit)
dt.update(results)
print(dt)

     Overall rank         Country or region  GDP per capita  Social support  \
0               1      Finland is very cold           1.340           1.587
1               2                   Denmark           1.383           1.573
2               3                    Norway           1.488           1.582
3               4                   Iceland           1.380           1.624
4               5               Netherlands           1.396           1.522
..            ...                       ...             ...             ...
151           152                    Rwanda           0.359           0.711
152           153                  Tanzania           0.476           0.885
153           154               Afghanistan           0.350           0.517
154           155  Central African Republic           0.026           0.000
155           156               South Sudan           0.306           0.575

     Healthy life expectancy  Freedom to make life choices  Generosity  \
0                      0.986                         0.596       0.153
1                      0.996                         0.592       0.252
2                      1.028                         0.603       0.271
3                      1.026                         0.591       0.354
4                      0.999                         0.557       0.322
..                       ...                           ...         ...
151                    0.614                         0.555       0.217
152                    0.499                         0.417       0.276
153                    0.361                         0.000       0.158
154                    0.105                         0.225       0.235
155                    0.295                         0.010       0.202

     Perceptions of corruption                  Languages Christians  \
0                        0.393  English, French,  Swedish        Yes
1                        0.410            Germany, French         No
2                        0.341     Italian, Danish, Shona        Yes
3                        0.118    Spanish, Latin, English         No
4                        0.298            English, French         No
..                         ...                        ...        ...
151                      0.411                        Nan        Yes
152                      0.147                        Nan        Yes
153                      0.025                        Nan        Yes
154                      0.035                        Nan        Yes
155                      0.091                        Nan        Yes

     Population         Processed_doc
0          20.0  [my name is Augusta]
1          45.0    [my name is Susan]
2          10.0     [my name is Mira]
3           NaN                   NaN
4           NaN                   NaN
..          ...                   ...
151         NaN                   NaN
152         NaN                   NaN
153         NaN                   NaN
154       233.0                   NaN
155       875.0                   NaN

[156 rows x 12 columns]